[submodule "distro"]
	path = distro
	url = https://github.com/borisfom/distro
        branch = R4
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/borisfom/platform_external_libpng
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
